@import url('https://fonts.googleapis.com/css2?family=Playwrite+DK+Uloopet+Guides&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --background-color: #ffffff;
    --text-color: #000000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Playwrite DK Uloopet Guides', cursive;
    font-size: 12pt;
    color: var(--text-color);
}

header{
    font-size: 36pt;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid rgb(8, 0, 0);
}
.base{
    display: flex;
    padding-top: 5%;
}
.base-paragraph{
    background-image: url(public/images/pexels-cottonbro-4778407.jpg);
    font-family: 'Montserrat', sans-serif;
    font-size: 14pt;
    color: var(--text-color);
    background-color: var(--background-color);
    padding-top: 8%;
    text-align: left;
    width: 100%;
}
.base-login{
    font-family: 'Montserrat', sans-serif;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    
}

.signup-button{
    font-family: 'Montserrat', sans-serif;
    font-size: 18pt;
    background: none;
    cursor: pointer;
    color:rgb(8, 0, 0);
    border: none;
    transition: color 0.3s ease;
}
.signup-button:hover{
    color:#acb3ff
}

.login-button{
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px; /* Adjust based on height */
    height: 40px;
    width: 200px;
    padding: 0 15px; /* Padding for text inside */
    border: 1px solid #ccc;
}

.form-input{
    border-radius: 50px; /* Adjust based on height */
    height: 40px;
    width: 200px;
    padding: 0 15px; /* Padding for text inside */
    border: 1px solid #ccc;
}


@media (max-width: 768px) {
    header{
        flex-direction: column;
        gap: 10px;
    }
    .base{
        flex-direction: column;
    }
    .base-paragraph, .base-login{
        width: 100%;
    }
}
